<h1 style="text-align: center;">Калькулятор платежей</h1>

<div id="carouselExampleDark" class="carousel slide content" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img style="filter: brightness(40%);" width="100%" height="40%" src="../../assets/1.png" class="d-block" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Создайте аккаунт или <a style="color: white;" href="/login">войдите</a> в существующий</h5>
          <p class="lead">Зарегистрироваться можно по адресу электронной почты, либо через telegram bot.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img style="filter: brightness(40%);" width="100%" height="40%" src="../../assets/1.png" class="d-block" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Внесите тарифы по счетчикам</h5>
          <p>Some representative placeholder content for the second slide.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img style="filter: brightness(40%);" width="100%" height="40%" src="../../assets/1.png" class="d-block" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Внесите показания счетчиков</h5>
          <p>Some representative placeholder content for the third slide.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<div class="content">
<p class="lead">
This is a lead paragraph. It stands out from regular paragraphs.
</p>
</div>