  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Add record
  </button>
  <br/>

  <table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Горячая вода (Показания счетчика)</th>
      <th>Горячая вода (Стоимость)</th>
      <th>Холодная вода (Показания счетчика)</th>
      <th>Холодная вода (Стоимость)</th>
      <th>Электричество (Показания счетчика)</th>
      <th>Электричество (Стоимость)</th>
      <th>Дренаж воды (Показания счетчика)</th>
      <th>Дренаж воды (Стоимость)</th>    
      <th>CreatedAt</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngFor="let r of records.data">
    <tr>
      <th>{{r.ID}}</th>
      <td>{{r.HotValue}}</td>
      <td>{{r.HotCost}}</td>
      <td>{{r.ColdValue}}</td>
      <td>{{r.ColdCost}}</td>
      <td>{{r.EnergyValue}}</td>
      <td>{{r.EnergyCost}}</td>
      <td>{{r.DrenageValue}}</td>
      <td>{{r.DrenageCost}}</td>
      <td>{{r.CreatedAt}}</td>
      <td>
        <button (click)="deleteRecord(r.ID)" type="button" class="btn btn-danger">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add record</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">hot</span>
          <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">cold</span>
          <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">energy</span>
          <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button (click)="postRecord()" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>