<table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Горячая вода (Стоимость куб.м)</th>
        <th>Холодная вода (Стоимость куб.м)</th>
        <th>Электричество (Стоимость квт/ч)</th>
        <th>Дренаж (Стоимость куб.м)</th>
        <th>Создано</th>
      </tr>
    </thead>
    <tbody *ngFor="let r of taxes.data">
      <tr>
        <th>{{r.ID}}</th>
        <td>{{r.HotPrice}} .руб</td>
        <td>{{r.ColdPrice}} .руб</td>
        <td>{{r.EnergyPrice}} .руб</td>
        <td>{{r.DrenagePrice}} .руб</td>
        <td>{{r.CreatedAt}}</td>
      </tr>
    </tbody>
  </table>